<!DOCTYPE html>
<html lang="en">
<head>
    <title>Personne</title>
</head>
<body>

<form id="personne-add">
    <label for="nompersonne">Nom</label>
    <input id="nompersonne" name="nompersonne" type="text"/>
    <label for="prenompersonne">Prenom
    </label>

    <input id="prenompersonne" name="prenompersonne"
           required="required" type="text">
    <button onclick="savePersonne()" class="btn btn-success" id="add-personne" type="button" >Enregistrer</button>

</form>


<script src="/js/personne.js"></script>
<script src="/js/jquery.js"></script>
</body>
</html>
